.home-container .route-steps-container {
  .ant-steps-item-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: normal;

    > .ant-steps-item-subtitle > .ant-typography {
      font-size: 16px;
    }
  }
}
