@import 'src/styles/variables';

.home-container {
  height: 100%;

  > .ant-layout-has-sider {
    > .ant-layout-sider {
      background-color: $ant-gray-1;
      overflow: auto;
      padding: 8px 1rem;
    }
  }
}
