@import 'src/styles/variables';

.route-costs-container {
  margin: 16px 0 24px;

  > .ant-space {
    margin-bottom: 8px;

    .ant-typography {
      line-height: normal;
    }

    .ant-typography:not(.ant-typography-warning) {
      font-size: 16px;
    }
  }

  > .ant-flex .ant-space-item {
    color: $ant-gray-8 !important;
  }
}
